<div class="container">
  <h2>About me</h2>

  <p>
    I'm a backend developer at
    <a href="https://degreed.com/about" target="_blank">Degreed</a> who focuses
    on developer experience and our DevOps transformation. I love making dev
    work more enjoyable by making things easier to use and faster to setup,
    change, and deploy.
  </p>
  <p>
    I live in the Finger Lakes region of New York with my partner, Kate, where
    we spend the summers playing golf and enjoying all there is to do in the
    northeast and the winters skiing around New York, Vermont, and the west.
  </p>
  <h5>Degreed - since October 2019</h5>
  <ul>
    <li>
      Architecture team - October 2019 to May 2020
      <ul>
        <li>Keeping dependencies up to date.</li>
        <li>Planning for .NET Framework -> .NET 5 migrations.</li>
      </ul>
    </li>
    <li>
      DevOps team - May 2020 to present
      <ul>
        <li>
          Started containerizing the applications and setup initial POC of
          running the stack in Kubernetes.
        </li>
        <li>
          Assisted in migration from self-hosted TeamCity to a combination of
          Github Actions and Azure Pipelines.
        </li>
        <li>
          Reduced deployment times from 50-90% by using "build once, deploy
          anywhere" and blue-green deployments.
        </li>
        <li>
          Setup monitoring, alerting, and dashboards for all development and
          production environments in Datadog.
        </li>
        <li>
          Rearchitect database automation enabling use of the same tools for
          managing local, remote, and production databases. Added fully
          automated database pipeline that removed the need for manually running
          scripts during releases.
        </li>
        <li>
          Brought easy management of local development environments with Docker
          Compose for running and managing all infrastructure dependencies. Used
          Terraform to automate cloud-only dependencies.
        </li>
      </ul>
    </li>
  </ul>

  <h5>Relias - Senior Software Engineer - March 2017 to October 2019</h5>
  <ul>
    <li>
      Lead team developing APIs with Angular front ends to allow medical clients
      to administer pre-hire
      <a href="https://www.relias.com/product/assessments" target="_blank"
        >assessments</a
      >
      to nurses.
    </li>
    <li>
      Co-lead backend chapter and regularly presented on ways to improve
      testability, architecture, and maintainability of our services.
    </li>
    <li>
      Developed initial implementation of message broker strategy to allow dev
      teams to communicate with other services asynchronously and reliably. This
      strategy was proven in production and quickly reached >100,000 messages
      daily.
    </li>
  </ul>

  <h5>InspectionXpert - April 2013 to March 2017</h5>
  <ul>
    <li>
      Maintain and extend more than a half dozen CAD integrations that automate
      data extraction from mechanical documents.
    </li>
    <li>
      Bring a new integrated SaaS product to market that allows quality managers
      to have real-time visibility into their quality process. Data previously
      extracted from mechanical drawings with other InspectionXpert products can
      be uploaded with one click.
    </li>
  </ul>

  <h5>Extracurricular activities</h5>
  <ul>
    <li>
      Learning functional programming
      <ul>
        <li>F#</li>
        <li>
          Elixir - after being a .NET dev for so long, learning Elixir has been
          eye-opening to say the least.
        </li>
      </ul>
    </li>
    <li>
      Domain driven design, CQRS, and event sourcing
      <ul>
        <li>
          I have various repositories in different states of incompleteness that
          implement these patterns. I enjoy tinkering with these ideas without
          much sense of purpose other than to be armed with the knowledge to
          apply these concepts in my real work.
        </li>
      </ul>
    </li>
    <li>
      <a
        href="https://www.credential.net/f3068601-7184-4d56-8a21-cc299892ee25"
        target="_blank"
        >Completed</a
      >
      Udi Dahan's Advanced Distributed Systems Design course.
    </li>
    <li>
      Golf - In a past life I was an aspiring PGA golf professional. I realized
      that I'd rather continue golf as a leisure activity and I still attempt to
      play good golf. Currently I'm about a 4 handicap once the rust gets
      knocked off in the spring.
    </li>
    <li>
      Skiing - I was introduced to skiing on a work trip and fell in love. Since
      taking up the sport seriously in 2019 I've had the privilege of skiing
      about 40 days here in New York and a few days in Tahoe and Vermont.
    </li>
  </ul>
</div>
